//字体定义规范
$font-size-small-s =10px
$font-size-small =12px
$font-size-medium =14px
$font-size-medium-x =16px
$font-size-large =18px
$font-size-large-x =22px
$font-weight-blod = 550

//颜色定义规范
$color-text-b = #8496CA
$color-text-f = #fff
$color-text-g = #7C7D7C
$color-text-p = #6A6869
$header-banckground = #22397F
$footer-banckground = #252525
$title-banckground = #871654

//间距
$padding-small-s = 8px
$padding-small = 15px
$padding-medium = 25px
$padding-large = 50px
//外间距
$margin-top = 6px